#sidebar {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(#8ab4ac, #fff);
  padding: 0 5px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  padding: 5px;
}
